                /* -----> FONT AND OTHERS <-----*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Inter", sans-serif;
    background-color:rgb(0, 0, 0);
}


.sub-color{
    color: rgba(255, 255, 255, 0.5);
}




                /* -----> NAVBAR SECTION START <-----*/

.nav-container{
    padding: 20px;

}

.navbar{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
}

.nav-title{
    
    font-size: 36px;
    font-weight: 800;
    color: rgb(230, 83, 60);
    font-style: italic;
}

.nav-btns{
    width: 350px;
    border: 2px solid gray;
    border-radius: 40px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    

    
}

.nav-btn{
    border-style: none;
    background-color: transparent;
    padding: 5px;
    color: white;
}

#home-btn{
    border-radius: 47px;
    padding: 8px 20px 8px 20px;
    background-color: rgb(230, 83, 60);
}

.nav-hamburger{
    display: none;
}



                /* -----> MAIN SECTION START <-----*/
.container{
    max-width: 1000px;
    margin: 0 auto;
}

                /* -----> BANNER SECTION START <-----*/

.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.banner{
    width: 40%;
    position: relative;
}

.banner img {
    margin-left: 50px;
}

.card{
    color: black;
    width: max-content;
    padding: 10px 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    
}

.card1 h2{
    font-size: 24px;
    font-weight: 900;
    color: white;
}

.card2 h2{
    font-size: 24px;
    font-weight: 900;
    color: white;
}

.card1{
    position: absolute;
    top: 25%;
    left: 65%;
    text-align: center;

}

.card2{
    position: absolute;
    top: 70%;
    right: 70%;
    text-align: center;
    
}

.banner-text h1{
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 30px;
    color: white;
}

.shape {
    font-family: 'Miama', sans-serif;
    font-size: 140px;
    font-weight: 800;
}

.banner-btn{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    
}

.btn{
    border: 1px solid gray;
    border-radius: 40px;
    background-color: transparent;
    padding: 16px 40px 16px 40px;
    margin-top: 30px;
    color: white;
}

.join-btn{
    background-color: rgb(230, 83, 60);
}



                /* -----> CHANGE YOUR HABIT SECTION START <-----*/

.change-habit{
    margin-top: 90px;
    margin-bottom: 90px;
    
}

.title-text{
    color: white;
    margin-bottom: 50px;
    text-align: center;
}

.title-text h1{
    font-size: 40px;
    margin-bottom: 10px;
}

.trainer{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   align-items: center;
   gap: 20px;
}

.trainer-info{
    color: white;
    text-align: center;
}

.trainer-info h2{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.trainer-info p{
    font-size: 14px;
}

.circle{
    border: 5px solid rgb(63, 63, 63);
    border-radius: 50%;
}




                /* -----> RUN AN EXTRA MILE SECTION START <-----*/
.run{
    color: white;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    margin-bottom: 90px;
}

.run-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.run-childs{
    width: 100%;
}

.run-childs img{
    width: 80%;
    border-radius: 20px;
    margin: 50px;
    /* margin-right: 20px; */
    
    
}

.run-text{
    padding: 30px;
}

.run-text h1{
    font-size: 30px;
    margin-bottom: 25px;
}

.run-text button{
    color: white;
    border: none;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 15px 40px 15px 40px;
    margin-top: 25px;
}



                /* -----> BMI CALCULATOR SECTION START <-----*/
.bmi-calc{
    color: white;
    margin-bottom: 90px;
}
.bmi-title{
    text-align: center;
    margin-bottom: 90px;

}
.bmi-title h1{
    font-size: 30px;
    margin-bottom: 15px;
    
}

.bmi{
    background-color: rgba(255, 255, 255, 0.1);
}

.bmi-chart-calc{
    padding: 50px 0 50px 0;
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: 50px;
}

.chart table{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    
    
}
.chart th, td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
}

.chart td{
    color: rgba(255, 255, 255, 0.5);
}

.calc h2{
    padding-bottom: 20px;
}

.calc p{
    padding-bottom: 20px;
}
.calc form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    
}

.calc input{
    border-radius: 8px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
 
}

.calc input::placeholder{
    color:rgba(255, 255, 255, 0.5);
}

.span-color{
    border-radius: 8px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color:rgba(255, 255, 255, 0.5);
}


.calc form :last-child{
    grid-column: span 2;
}



                /* -----> TEAM SECTION START <-----*/
.our-team{
    color: white;
    margin-bottom: 90px;
}

.team-title{
    text-align: center;
    margin-bottom: 60px;

}

.team-title h1{
    font-size: 30px;
    margin-bottom: 15px;
}

.team-members{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center; 
    justify-items: center;
    padding: 15px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    height: 600px;
}

.member img{
    width: 310px;
    height: 270px;
    border-radius: 20px;
}

.member{
    position: relative;
}

.member h2{
    position: absolute;
    bottom: 12%;
    left: 5%;
}

.member p{
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: rgba(255, 255, 255, 0.5);
}




                /* -----> FOOTER SECTION START <-----*/

.footer-wraper{
    background: rgba(255, 255, 255, 0.1);
}

.footer{
    max-width: 1000px;
    margin: 0 auto;
    height: auto;
    padding-top: 30px;
    padding-bottom: 50px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fitness-text{
    width: 50%;
}

.fitness-text h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    color: rgb(230, 83, 60);
}

.fitness-list{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.fitness-list h2{
    font-size: 30px;
    margin-bottom: 25px;
}

.fitness-list li{
    list-style: none;
    
}

.list-gap{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.horizontal{
    border: 2px solid rgba(255, 255, 255, 0.1);
    height: 1px;
    width: 1000px;
    margin: 0 auto;
    
    
}

.copyright{
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 30px;
}